@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "inter" !important;
    /* overflow-x: hidden; */
}



.shardow-white-card {
    background-color: #ffffff;
    box-shadow: 0px 12px 16px -4px rgb(17, 24, 39, 0.1);
}

.card {
    margin: 20px 15px 20px;
}

.pannel-body {
    padding: 20px;
}

.avatar-stack {
    display: flex;
    align-items: center;
}

.avatar-stack img {
    width: 100px;
    /* Adjust size as needed */
    height: 100px;
    /* Adjust size as needed */
    border-radius: 50%;
    /* Make the images circular */
    margin-left: -50px;
    /* Adjust spacing between avatars */
    border: 2px solid #fff;
    /* Add a border around each avatar */
}

.grey-color {
    color: #393939 !important;
}

.sticky-button {
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.owl-prev,
.owl-next {
    position: absolute !important
}



.owl-prev,
.owl-next:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.owl-prev {
    top: 40%;
    left: -10px;
}

.owl-next {
    top: 40%;
    right: -10px;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 10px;
    /* Optional: Add shadow for better visibility */
}

.section {
    height: 500px;
    /* Just for demonstration */
    padding-top: 50px;
    /* Adjust according to the height of your sticky header */
}

.fade-in-slide-up {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
    /* Adjust animation duration and timing function as needed */
}

.mobileHero {
    display: none;
}

.desktopHero {
    display: block;
}

#player iframe {
    width: 100%;
    height: 400px;
}


.enrolled-text {
    font-size: 24px;
    font-weight: 600;
}

.enrolled-section {
    margin: 0 5px;
}

.hero-f svg {
    width: 50%;

}


.container-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.image-svg {
    max-width: 100%;
    max-height: 100%;
}

.svg-icon {
    position: absolute;
    width: 50px;
    /* Adjust the size of the SVG icon as needed */
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media only screen and (max-width: 767px) {

    /* 
    #player iframe {
        width: 100%;
        height: auto !important;
    } */

    .heading-text {
        font-size: 20px !important;
        line-height: 24px;

    }

    .enrolled-section {
        margin: 0 5px !important;
    }

    .mobile-disable {
        display: none;
    }

    .text-10K span {
        font-size: 12px !important;
        justify-content: center;
        align-self: center;
        display: flex;
    }


    .img-responsive {
        width: 100% !important;
        height: auto !important;
    }

    .footer-text {
        font-size: 16px !important;
    }

    .mobileHero {
        display: block;
    }

    .desktopHero {
        display: none;
    }

    #logo {
        width: 100px;
        height: 60px;
    }

    .fade-in-slide-up {
        opacity: 1;
        transform: translateY(0%);
        /* Adjust animation duration and timing function as needed */
    }

    .book-button {
        margin-right: 0 !important;
        padding-left: 0 !important;
    }

    .Hero-section {
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
    }

    .text-Hero {
        font-size: 50px !important;
        line-height: 50px !important;
    }

    .text-mobile {
        font-size: 12px !important;
    }

    .svg-star {
        width: 210px;
    }

    .avatar-stack {
        justify-content: center;

    }

    .avatar-stack img {
        width: 40px;
        /* Adjust size as needed */
        height: 40px;
        /* Adjust size as needed */
        margin-left: -20px;
    }

    .mobile-font {
        font-size: 16px !important;
    }



    .assets-testimonial {
        /* height: 60px; */
        /* width: 100%; */
    }

    .card-height {
        min-height: 100px !important;
    }

    .card {
        width: 100% !important;
        margin: 0 !important;
    }

}